version: 2
ethernets:
  eth0:
    addresses:
      - ${mgmt_ip}/${mgmt_prefix}
    routes:
      - to: 0.0.0.0/0
        via: ${mgmt_gateway}
    nameservers:
      addresses:
        - 8.8.8.8
        - 8.8.4.4
